@font-face {
  font-family: 'Geometria';
  src: local('Geometria Regular'), local('Geometria-Regular'),
    url('../../fonts/Geometria-Regular.woff2') format('woff2'),
    url('../../fonts/Geometria-Regular.woff') format('woff'),
    url('../../fonts/Geometria-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
