<section class="restaurant-about-section">
  <div class="restaurant-about-container container">
    <h2 class="title visually-hidden">About a kitchen</h2>
    <div class="restaurant-about-pic-wrapper">
      <picture>
        <source
          srcset="
            ./img/jpg/restaurant/desktop/restaurant-chef.jpg    1x,
            ./img/jpg/restaurant/desktop/restaurant-chef@2x.jpg 2x
          "
          media="(min-width: 1440px)"
          type="image/jpeg"
        />

        <source
          srcset="
            ./img/jpg/restaurant/tablet/restaurant-chef.jpg    1x,
            ./img/jpg/restaurant/tablet/restaurant-chef@2x.jpg 2x
          "
          media="(min-width: 768px)"
          type="image/jpeg"
        />

        <source
          srcset="
            ./img/jpg/restaurant/mobile/restaurant-chef.jpg    1x,
            ./img/jpg/restaurant/mobile/restaurant-chef@2x.jpg 2x
          "
          media="(max-width: 767px)"
          type="image/jpeg"
        />
        <img
          src="./img/jpg/restaurant/desktop/restaurant-chef.jpg"
          alt="restaurant-chef"
        />
      </picture>
      <div class="restaurant-about-pic-wrap">
        <picture>
          <source
            srcset="
              ./img/jpg/restaurant/desktop/restaurant-meat.jpg    1x,
              ./img/jpg/restaurant/desktop/restaurant-meat@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            type="image/jpeg"
          />

          <source
            srcset="
              ./img/jpg/restaurant/tablet/restaurant-meat.jpg    1x,
              ./img/jpg/restaurant/tablet/restaurant-meat@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />

          <source
            srcset="
              ./img/jpg/restaurant/mobile/restaurant-meat.jpg    1x,
              ./img/jpg/restaurant/mobile/restaurant-meat@2x.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/jpeg"
          />
          <img
            src="./img/jpg/restaurant/desktop/restaurant-meat.jpg"
            alt="restaurant-chef"
          />
        </picture>
        <picture>
          <source
            srcset="
              ./img/jpg/restaurant/desktop/restaurant-drink.jpg    1x,
              ./img/jpg/restaurant/desktop/restaurant-drink@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            type="image/jpeg"
          />

          <source
            srcset="
              ./img/jpg/restaurant/tablet/restaurant-drink.jpg    1x,
              ./img/jpg/restaurant/tablet/restaurant-drink@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />

          <source
            srcset="
              ./img/jpg/restaurant/mobile/restaurant-drink.jpg    1x,
              ./img/jpg/restaurant/mobile/restaurant-drink@2x.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/jpeg"
          />
          <img
            src="./img/jpg/restaurant/desktop/restaurant-drink.jpg"
            alt="restaurant-chef"
          />
        </picture>
      </div>
    </div>

    <div class="restaurant-about-desc-wrap">
      <p class="restaurant-about-desc restaurant-about-desc-first">
        At Mimino, we are experts in meat preparation. Our chefs use only the
        finest and freshest ingredients to create delicious dishes that showcase
        the flavors of premium cuts of meat.
      </p>
      <p class="restaurant-about-desc restaurant-about-desc-second">
        Our slow-cooking process and expert seasoning bring out the best in each
        dish, making for an unforgettable dining experience. Come taste the
        magic of meat preparation at Mimino.
      </p>
    </div>
  </div>
</section>
