<!--header-->
<header id="header" class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="header-nav-link link" href="./index.html#hero">home</a>
      <a class="header-nav-link link" href="./hotel.html">hotel</a>
      <a class="header-nav-link link current" href="./restaurant.html#hero"
        >restaurant</a
      >
    </nav>
    <button class="btn-menu js-open-menu" type="button">
      <svg class="icon-menu-open">
        <use href="./img/icons/sprite.svg#btn-open"></use>
      </svg>
    </button>
    <div class="header-logo-div">
      <a class="header-logo link" href="./index.html#hero">mimino</a>
      <p class="header-text">restaurant-hotel complex</p>
    </div>
    <ul class="header-list list">
      <li class="header-soc-item">
        <a
          href="https://www.instagram.com"
          target="_blank"
          class="header-soc-link"
        >
          <svg class="header-soc-icon" width="24" height="24">
            <use href="./img/icons/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-soc-item">
        <a
          href="https://www.facebook.com"
          target="_blank"
          class="header-soc-link"
        >
          <svg class="header-soc-icon" width="24" height="24">
            <use href="./img/icons/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-soc-item">
        <a href="https://twitter.com" target="_blank" class="header-soc-link">
          <svg class="header-soc-icon" width="24" height="24">
            <use href="./img/icons/sprite.svg#twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
<!---->

<!--mobile menu-->
<div class="menu-container is-hidden js-menu-container">
  <div class="menu-header">
    <div class="menu-header-container container">
      <button class="btn-menu js-close-menu" type="button">
        <svg class="icon-menu-close">
          <use href="./img/icons/sprite.svg#btn-close"></use>
        </svg>
      </button>
      <div class="header-logo-div">
        <a class="header-logo link" href="./index.html">mimino</a>
        <p class="header-text">restaurant-hotel complex</p>
      </div>
      <ul class="menu-tablet-list list">
        <li>
          <a href="https://www.instagram.com" target="_blank">
            <svg class="menu-soc-icon" width="24" height="24">
              <use href="./img/icons/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com" target="_blank">
            <svg class="menu-soc-icon" width="24" height="24">
              <use href="./img/icons/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://twitter.com" target="_blank">
            <svg class="menu-soc-icon" width="24" height="24">
              <use href="./img/icons/sprite.svg#twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="menu-nav-soc">
    <div class="menu-nav-soc-container container">
      <nav class="menu-nav">
        <a class="menu-nav-link link" href="./index.html">home</a>
        <a class="menu-nav-link link" href="./hotel.html">hotel</a>
        <a class="menu-nav-link link" href="./restaurant.html">restaurant</a>
      </nav>
      <ul class="menu-mobile-list list">
        <li>
          <a href="https://www.instagram.com" target="_blank">
            <svg class="menu-soc-icon" width="20" height="20">
              <use href="./img/icons/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com" target="_blank">
            <svg class="menu-soc-icon" width="20" height="20">
              <use href="./img/icons/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://twitter.com" target="_blank">
            <svg class="menu-soc-icon" width="20" height="20">
              <use href="./img/icons/sprite.svg#twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
