<section class="hero-restaurant">
    <div class="container hero-container">
        <h1 class="hero-title">Restaurant</h1>
        <button class="btn btn-light-theme">Book a table</button>
        <a href="" class="restaurant-link link btn btn-light-theme">View a menu</a>
        <div class="restaurant-slider">
            
        </div>
        <p class="hero-restaurant-text hero-desc">Whether you're in the mood for a hearty breakfast, a light lunch, or a romantic dinner, our menu has something for everyone.</p>
    </div>
</section>