<section class="restaurant-menu-section">
  <div class="restaurant-menu-container">
    <div class="wrapper-restaurant">
      <h1 class="restaurant-menu-title">RESTAURANT MENU</h1>

      <div class="full-menu responsive">
        <div class="slider">
          <!-- hot meals -->

          <div class="restaurant-menu-wrapp">
            <h2 class="reataurant-menu-course-subtitle">HOT MEALS</h2>
            <ul class="restaurant-menu-list list">
              <li class="restaurant-menu-item">
                <div class="restaurant-menu-item-name">
                  <p class="reataurant-menu-subtitle">
                    Veal borscht with beans
                  </p>
                  <p class="dish-weight-text">400 g</p>
                </div>
                <div class="restaurant-menu-item-discr">
                  <p class="dish-desc">
                    Veal, potatoes, cabbage, carrots, onions, beans, garlic,
                    tomatoes, greens, sour cream
                  </p>
                  <p class="dish-price-text">240 UAH</p>
                </div>
              </li>
              <li class="restaurant-menu-item">
                <div class="restaurant-menu-item-name">
                  <p class="reataurant-menu-subtitle">
                    Cheese soup with chicken
                  </p>
                  <p class="dish-weight-text">400 g</p>
                </div>
                <div class="restaurant-menu-item-discr">
                  <p class="dish-desc">
                    Chicken, potatoes, carrots, onions, mushrooms, soft cheese,
                    greens
                  </p>
                  <p class="dish-price-text">200 UAH</p>
                </div>
              </li>
              <li class="restaurant-menu-item">
                <div class="restaurant-menu-item-name">
                  <p class="reataurant-menu-subtitle">Carbonara pasta</p>
                  <p class="dish-weight-text">400 g</p>
                </div>
                <div class="restaurant-menu-item-discr">
                  <p class="dish-desc">
                    Tagliatelle pasta, bacon, cream, Parmesan cheese, egg,
                    greens
                  </p>
                  <p class="dish-price-text">430 UAH</p>
                </div>
              </li>
              <li class="restaurant-menu-item">
                <div class="restaurant-menu-item-name">
                  <p class="reataurant-menu-subtitle">Pork steak</p>
                  <p class="dish-weight-text">400 g</p>
                </div>
                <div class="restaurant-menu-item-discr">
                  <p class="dish-desc">
                    Pork tenderloin, spices, served with sweet chili sauce and
                    vegetables
                  </p>
                  <p class="dish-price-text">500 UAH</p>
                </div>
              </li>
              <li class="restaurant-menu-item">
                <div class="restaurant-menu-item-name">
                  <p class="reataurant-menu-subtitle">
                    Gorbusha in white wine sauce
                  </p>
                  <p class="dish-weight-text">400 g</p>
                </div>
                <div class="restaurant-menu-item-discr">
                  <p class="dish-desc">
                    Tender redfish, cream sauce based on white wine
                  </p>
                  <p class="dish-price-text">400 UAH</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="slider">
          <!-- side dishes and snacks -->

          <div class="restaurant-menu-wrapp">
            <h2 class="reataurant-menu-course-subtitle">
              SIDE DISHES AND SNACKS
            </h2>
            <ul class="restaurant-menu-list list">
              <li class="restaurant-menu-item">
                <div class="restaurant-menu-item-name">
                  <p class="reataurant-menu-subtitle">Baked vegetables</p>
                  <p class="dish-weight-text">200 g</p>
                </div>
                <div class="restaurant-menu-item-discr">
                  <p class="dish-desc">Zucchini, pepper, tomato, eggplant</p>
                  <p class="dish-price-text">230 UAH</p>
                </div>
              </li>
              <li class="restaurant-menu-item">
                <div class="restaurant-menu-item-name">
                  <p class="reataurant-menu-subtitle">French fries</p>
                  <p class="dish-weight-text">150 g</p>
                </div>
                <div class="restaurant-menu-item-discr">
                  <p class="dish-desc">Potatoes, tomato sauce</p>
                  <p class="dish-price-text">160 UAH</p>
                </div>
              </li>
              <li class="restaurant-menu-item">
                <div class="restaurant-menu-item-name">
                  <p class="reataurant-menu-subtitle">Peasant-style potatoes</p>
                  <p class="dish-weight-text">150 g</p>
                </div>
                <div class="restaurant-menu-item-discr">
                  <p class="dish-desc">Potatoes, spices, spicy sauces</p>
                  <p class="dish-price-text">160 UAH</p>
                </div>
              </li>
              <li class="restaurant-menu-item">
                <div class="restaurant-menu-item-name">
                  <p class="reataurant-menu-subtitle">
                    Crisp pickles from the barrel
                  </p>
                  <p class="dish-weight-text">250 g</p>
                </div>
                <div class="restaurant-menu-item-discr">
                  <p class="dish-desc">
                    Salted cucumber, pickled tomato, sauerkraut, Korean carrot
                  </p>
                  <p class="dish-price-text">350 UAH</p>
                </div>
              </li>
              <li class="restaurant-menu-item">
                <div class="restaurant-menu-item-name">
                  <p class="reataurant-menu-subtitle">
                    Chicken wings in honey sauce
                  </p>
                  <p class="dish-weight-text">400 g</p>
                </div>
                <div class="restaurant-menu-item-discr">
                  <p class="dish-desc">
                    Chicken wings, mustard-honey sauce, served with carrots,
                    celery and blue cheese sauce
                  </p>
                  <p class="dish-price-text">400 UAH</p>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="slider">
          <!-- salads -->

          <div class="restaurant-menu-wrapp">
            <h2 class="reataurant-menu-course-subtitle">SALADS</h2>
            <ul class="restaurant-menu-list list">
              <li class="restaurant-menu-item">
                <div class="restaurant-menu-item-name">
                  <p class="reataurant-menu-subtitle">Caesar with chicken</p>
                  <p class="dish-weight-text">230 g</p>
                </div>
                <div class="restaurant-menu-item-discr">
                  <p class="dish-desc">
                    Chicken fillet, lettuce, cherry tomatoes, Parmesan cheese,
                    croutons, Caesar sauce
                  </p>
                  <p class="dish-price-text">450 UAH</p>
                </div>
              </li>
              <li class="restaurant-menu-item">
                <div class="restaurant-menu-item-name">
                  <p class="reataurant-menu-subtitle">Caesar with shrimp</p>
                  <p class="dish-weight-text">230 g</p>
                </div>
                <div class="restaurant-menu-item-discr">
                  <p class="dish-desc">
                    Tiger shrimp, lettuce, cherry tomatoes, parmesan cheese,
                    croutons, caesar sauce
                  </p>
                  <p class="dish-price-text">300 UAH</p>
                </div>
              </li>
              <li class="restaurant-menu-item">
                <div class="restaurant-menu-item-name">
                  <p class="reataurant-menu-subtitle">Greek salad</p>
                  <p class="dish-weight-text">230 g</p>
                </div>
                <div class="restaurant-menu-item-discr">
                  <p class="dish-desc">
                    Fresh cucumber, tomato, bell pepper, olives, brynza cheese,
                    lettuce,sauce
                  </p>
                  <p class="dish-price-text">280 UAH</p>
                </div>
              </li>
              <li class="restaurant-menu-item">
                <div class="restaurant-menu-item-name">
                  <p class="reataurant-menu-subtitle">Meat salad</p>
                  <p class="dish-weight-text">230 g</p>
                </div>
                <div class="restaurant-menu-item-discr">
                  <p class="dish-desc">
                    Chicken fillet or pork tenderloin, fresh cucumber, tomato,
                    bell pepper, ranch sauce
                  </p>
                  <p class="dish-price-text">300 UAH</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="slider">
          <div class="full-menu-desserts-drinks">
            <!-- desserts -->

            <div
              class="restaurant-menu-wrapp restaurant-menu-course-item-desserts"
            >
              <h2 class="reataurant-menu-course-subtitle">DESSERTS</h2>
              <ul class="restaurant-menu-list list">
                <li class="restaurant-menu-item">
                  <div class="restaurant-menu-item-discr">
                    <p class="reataurant-menu-subtitle">Napoleon cake</p>
                    <p class="dish-price-text">200 UAH</p>
                  </div>
                </li>
                <li class="restaurant-menu-item">
                  <div class="restaurant-menu-item-discr">
                    <p class="reataurant-menu-subtitle">Poppy cake</p>
                    <p class="dish-price-text">300 UAH</p>
                  </div>
                </li>
                <li class="restaurant-menu-item">
                  <div class="restaurant-menu-item-discr">
                    <p class="reataurant-menu-subtitle">Tiramisu</p>
                    <p class="dish-price-text">260 UAH</p>
                  </div>
                </li>
              </ul>
            </div>

            <!-- drinks -->

            <div class="restaurant-menu-wrapp">
              <h2 class="reataurant-menu-course-subtitle">DRINKS</h2>
              <ul class="restaurant-menu-list list">
                <li class="restaurant-menu-item">
                  <div class="restaurant-menu-item-discr">
                    <p class="reataurant-menu-subtitle">Black/green tea</p>
                    <p class="dish-price-text">100 UAH</p>
                  </div>
                </li>
                <li class="restaurant-menu-item">
                  <div class="restaurant-menu-item-discr">
                    <p class="reataurant-menu-subtitle">Espresso</p>
                    <p class="dish-price-text">100 UAH</p>
                  </div>
                </li>
                <li class="restaurant-menu-item">
                  <div class="restaurant-menu-item-discr">
                    <p class="reataurant-menu-subtitle">Cappuccino</p>
                    <p class="dish-price-text">100 UAH</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- button -->
    <div class="restaurant-menu-button">
      <button
        type="button"
        class="btn btn-dark-theme js-open-modal"
        data-modal="1"
      >
        BOOK A TABLE
      </button>
    </div>
  </div>
</section>
