/*--- header ---*/
.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 23px;
  padding-bottom: 23px;

  border-bottom: 0.5px solid rgba(18, 18, 18, 0.3);

  color: var(--light-theme-text-color);
  background-color: var(--secondary-header-background-color);
}

.header-bg {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 23px;
  padding-bottom: 23px;

  border-bottom: 0.5px solid rgba(255, 251, 251, 0.2);

  color: var(--dark-theme-text-color);
  background-color: transparent;
}

.header.header-scroll {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-bg.header-scroll {
  background-color: rgba(18, 18, 18, 0.5);
}

.header-bg svg {
  fill: var(--dark-theme-text-color);
}

.header-container {
  display: flex;
  justify-items: center;
  align-items: center;
}

.header-nav {
  display: none;
}

.btn-menu {
  padding: 0;

  width: 28px;
  height: 28px;
  background-color: transparent;
  border: 1px solid transparent;
}

.icon-menu-open {
  width: 100%;
  height: 100%;
}

.header-logo-div {
  margin-left: 50px;
  display: block;
}

.header-logo {
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.18em;
}

.header-text {
  margin-top: 3px;

  font-size: 6px;
  line-height: 1.33;
  letter-spacing: 0.18em;
}

.header-list {
  display: none;
}

/*--mobile menu--*/

.menu-container.is-hidden {
  pointer-events: none;
  transform: translateX(-100%);
}

.menu-container {
  position: fixed;
  pointer-events: auto;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;

  transform: translateX(0);
  background-color: var(--dark-theme-background-color);
  color: var(--dark-theme-text-color);
  transition: transform var(--time-function);
}

.menu-header {
  padding-top: 23px;
  padding-bottom: 23px;

  border-bottom: 0.5px solid rgba(247, 247, 247, 0.2);
}

.menu-header-container {
  display: flex;
  justify-items: center;
  align-items: center;
}

.menu-tablet-list {
  display: none;
}

.menu-nav-soc {
  padding-top: 128px;
  padding-bottom: 24px;
}

.menu-nav-soc-container {
  min-height: calc(100vh - 220px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.menu-nav {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-nav-link {
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.05em;
}

.menu-nav-link:not(:last-child) {
  margin-bottom: 32px;
}

.menu-mobile-list {
  display: flex;
  gap: 14px;
}
.menu-soc-icon {
  fill: var(--dark-theme-text-color);
}

.icon-menu-close {
  width: 100%;
  height: 100%;
}

.js-close-menu {
  transform: translateX(-100%);
}

@media screen and (min-width: 375px) {
  .header-logo-div {
    margin-left: 83px;
  }

  .menu-list {
    margin-top: 426px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .btn-menu {
    width: 32px;
    height: 32px;
  }

  .header-menu-open {
    width: 32px;
    height: 32px;
  }

  .header-logo-div {
    margin-left: 246px;
    margin-right: auto;
  }

  .header-logo {
    font-size: 20px;
    line-height: 1.2;
  }

  .header-text {
    font-size: 8px;
    line-height: 1.25;
  }

  .header-list {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  .menu-tablet-list {
    display: flex;
    gap: 14px;
  }

  .menu-nav-link {
    font-size: 28px;
    line-height: 1.14;
  }

  .menu-nav-link:not(:last-child) {
    margin-bottom: 40px;
  }

  .menu-nav-soc {
    /* margin-top: 240px; */
    padding-right: 32px;
    padding-left: 32px;
  }

  .menu-mobile-list {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .header-nav {
    display: flex;
    gap: 32px;
  }

  .btn-menu {
    display: none;
  }

  .header-nav-link {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 0.05em;
  }

  .header-menu-open {
    display: none;
  }

  .current {
    position: relative;
  }

  .current::before {
    content: '';
    position: absolute;
    left: 48%;
    bottom: -6px;
    width: 4px;
    height: 4px;
    background-color: currentColor;
    border-radius: 2px;
  }

  .header-logo-div {
    margin-left: 370px;
  }

  .header-list {
    gap: 16px;
  }

  .menu-container {
    display: none;
  }

  /* .header-soc-icon {
    : currentColor;
  } */

  .header-logo,
  .header-nav-link,
  .header-soc-link {
    position: relative;
    color: currentColor;
  }

  .header-logo::after,
  .header-nav-link::after,
  .header-soc-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform var(--time-function);
  }

  .header-logo:focus,
  .header-nav-link:focus,
  .header-soc-link:focus {
    outline: none;
  }

  .header-logo:is(:hover, :focus)::after,
  .header-nav-link:is(:hover, :focus)::after,
  .header-soc-link:is(:hover, :focus)::after {
    transform-origin: left;
    transform: scaleX(1);
  }
}
/*--- Avtark made it ---*/
