.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: var(--time-function);
}

.modal {
  opacity: 0;
  visibility: hidden;

  width: 100%;
  max-width: 335px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;

  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  padding: 24px 0 40px;
  transition: 0.3s all;
  background-color: var(--dark-theme-background-color);
  border-radius: 2px;
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal-cross {
  width: 13px;
  height: 13px;
  position: absolute;
  top: 24px;
  right: 24px;
  fill: var(--dark-theme-text-color);
  cursor: pointer;
}

/* Стили для кнопок. Мы ведь порядочные разработчики, негоже простые ссылки оставлять */

a {
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  background-color: #414b52;
  margin: 10px;
  color: var(--dark-theme-text-color);
  border-radius: 3px;
}

.modal-price-title {
  margin-bottom: 44px;
}

.title-italic {
  font-style: italic;
}

.modal-price-text {
  font-weight: 500;
  line-height: 1.12;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
  color: var(--dark-theme-text-color);
}

.modal-price-form {
  max-width: 564px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modal-price-form-inner {
  display: flex;
  flex-direction: column;
  gap: 32px 0;
  margin-bottom: 40px;
}

.modal-suptitle {
  font-size: 8px;
  line-height: 1.5;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: var(--dark-theme-text-color);
}

.modal-lable {
  max-width: 266px;
  width: 100%;
}

.modal-choice-wrapper {
  position: relative;
}

.modal-choice-wrapper::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../img/icons/arrow.svg);
  pointer-events: none;
}

.modal-choice {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  padding-bottom: 18px;

  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--dark-theme-text-color);
  background-color: transparent;
  border: none;
  border-bottom: 0.8px solid rgba(247, 247, 247, 0.2);
  margin-bottom: 8px;
  outline: none;
  cursor: pointer;
}

.modal-input {
  box-sizing: border-box;
  max-width: 266px;
  width: 100%;
  margin: 0;
  padding-bottom: 18px;
  background-color: transparent;
  border: none;
  border-bottom: 0.8px solid rgba(247, 247, 247, 0.2);
  outline: none;
  margin-bottom: 8px;
  color: var(--dark-theme-text-color);
}

.input-money {
  display: block;
}

.modal-btn {
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 628px;
    padding: 32px 0 60px;
  }

  .modal-price__title {
    margin-bottom: 60px;
  }

  .modal-price__text {
    margin-bottom: 32px;
  }

  .modal-price-form-inner {
    flex-direction: row;
    gap: 0 32px;
    margin-bottom: 80px;
  }
}
