.restaurant-hero {
  padding-top: 118px;
}

.restaurant-hero-title {
  margin-bottom: 24px;
}

.restaurant-hero-buttons {
  display: flex;
  gap: 12px;

  margin-bottom: 40px;
}

.restaurant-page-hero-slider {
  position: relative;
  margin-bottom: 100px;
}

.restaurant-page-hero-slide {
  margin-right: 20px;
}

.restaurant-page-slick-prev,
.restaurant-page-slick-next {
  position: absolute;
  font-size: 0;
  width: 36px;
  height: 36px;
  bottom: -60px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transform: scale(1);
  transition: transform var(--time-function);
}

.restaurant-page-slick-prev:hover,
.restaurant-page-slick-next:hover {
  transform: scale(1.4);
}

.restaurant-page-slick-prev {
  right: 88px;
  background-image: url(../../../img/icons/angle-left.svg);
}

.restaurant-page-slick-next {
  right: 20px;
  background-image: url(../../../img/icons/angle-right.svg);
}

.restaurant-hero-text {
  max-width: 338px;
}

@media screen and (min-width: 768px) {
  .restaurant-hero-title {
    margin-bottom: 32px;
  }

  .restaurant-hero-buttons {
    gap: 14px;
  }

  .restaurant-page-hero-slider {
    margin-bottom: 40px;
  }

  .restaurant-page-hero-slide {
    margin-right: 32px;
  }

  .restaurant-page-slick-prev {
    bottom: -76px;
    right: 100px;
  }

  .restaurant-page-slick-next {
    bottom: -76px;
    right: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .restaurant-hero-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .restaurant-hero-slider {
    max-width: 700px;
  }

  .restaurant-page-hero-slider {
    margin-bottom: 0;
    width: 704px;
  }

  .restaurant-page-slick-prev {
    bottom: -52px;
    right: unset;
    left: 0;
  }

  .restaurant-page-slick-next {
    bottom: -52px;
    right: unset;
    left: 68px;
  }

  .restaurant-hero-text {
    transform: translateY(-50%);
  }
}
