/* ====MAIN PAGE===== */

.main-page-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--light-theme-title-color);
}

@media screen and (min-width: 768px) {
  .main-page-title {
    font-size: 68px;
  }
}

/* ======HERO======= */

.hero-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1;

  letter-spacing: -0.02em;
  color: var(--light-theme-title-color);
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 80px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-title {
    font-size: 90px;
  }
}

/* ======DOUBLE LUXURY ROOM==== */
/* =======RESTAURANT====== */

.dark-theme-title {
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;

  color: var(--dark-theme-text-color);
}

@media screen and (min-width: 768px) {
  .dark-theme-title {
    font-size: 40px;
    line-height: 1.1;
  }
}

/* =======RESTAURANT====== */
.dark-theme-subtitle {
  font-style: italic;
  font-size: 18px;
  line-height: 1.33;

  letter-spacing: -0.02em;
  color: var(--dark-theme-title-color);
}

@media screen and (min-width: 768px) {
  .dark-theme-subtitle {
    font-size: 24px;
    line-height: 1;
  }
}

/* ======HOTEL===== */

.hotel-title {
  font-size: 32px;
  line-height: 0.94;

  letter-spacing: -0.02em;
  color: var(--light-theme-title-color);
}

@media screen and (min-width: 768px) {
  .hotel-title {
    font-size: 40px;
    line-height: 1.1;
  }
}

/* =======MODALS WINDOWS====== */

.modal-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.36;
  letter-spacing: -0.02em;
  color: var(--dark-theme-title-color);
}

@media screen and (min-width: 768px) {
  .modal-title {
    font-size: 36px;
    line-height: 1.11;
  }
}
