.main-page-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--light-theme-title-color);
}

.hero-pages-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1;

  letter-spacing: -0.02em;
  color: var(--light-theme-title-color);
}

.dark-theme-title {
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;

  color: var(--dark-theme-text-color);
}

.hotel-title {
  font-size: 32px;
  line-height: 0.94;

  letter-spacing: -0.02em;
  color: var(--light-theme-title-color);
}

.modal-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.36;

  letter-spacing: -0.02em;

  color: var(--dark-theme-title-color);
}

@media screen and (min-width: 768px) {
  .modal-title {
    font-size: 36px;
    line-height: 1.11;
  }

  .main-title {
    font-size: 68px;
  }

  .pages-hero-title {
    font-size: 80px;
  }

  .room-title {
    font-size: 40px;
    line-height: 1.1;
  }

  .hotel-title {
    font-size: 40px;
    line-height: 1.1;
  }
}

@media screen and (min-width: 1440px) {
  .pages-hero-title {
    font-size: 90px;
  }
}
