<section class="about-complex">
  <div class="about-complex-container container">
    <h2 class="visually-hidden">About a complex</h2>
    <div class="about-complex-wrap">
      <div class="about-complex-restaurant-wrap">
        <picture class="about-complex-restaurant-img">
          <source srcset="./img 1x, ./img 2x" media="(min-width: 1440px)" />
          <source srcset="./img 1x, ./img 2x" media="(min-width: 768px)" />
          <source srcset="./img 1x, ./img 2x" media="(max-width: 768px)" />
          <img
            src="/src/img/pictures/shef.jpg"
            alt="1"
            width="335px"
            height="442px"
          />
        </picture>

        <picture class="about-complex-restaurant-img">
          <source srcset="./img 1x, ./img 2x" media="(min-width: 1440px)" />
          <source srcset="./img 1x, ./img 2x" media="(min-width: 768px)" />
          <source srcset="./img 1x, ./img 2x" media="(max-width: 768px)" />
          <img
            src="/src/img/pictures/drinks.jpg"
            alt="2"
            width="404px"
            height="153px"
          />
        </picture>

        <div class="about-complex-restaurant-img">
          <img
            src="/src/img/pictures/meat.jpg"
            alt="3"
            width="212px"
            height="61px"
          />
        </div>
      </div>
      <div class="about-complex-restaurant-desc">
        <h3 class="about-complex-title">restaurant-hotel complex</h3>
        <p class="main-desc">
          Indulge in a taste of luxury with every bite at Hotel Mimino. From the
          freshest seafood to the most succulent steaks, every dish is crafted
          with care to ensure that you enjoy a truly memorable dining
          experience.
        </p>
        <p class="main-desc">
          Treat yourself to a taste of the good life and come dine with us
          today!
        </p>
      </div>
    </div>
    <div class="about-complex-wrap second-wrap">
      <div class="about-complex-buseiness-wrap">
        <picture class="about-complex-business-img">
          <source srcset="./img 1x, ./img 2x" media="(min-width: 1440px)" />
          <source srcset="./img 1x, ./img 2x" media="(min-width: 768px)" />
          <source srcset="./img 1x, ./img 2x" media="(max-width: 768px)" />
          <img src="" alt="" width="335px" height="311px" />
        </picture>
        <div class="about-complex-business-img">
          <img src="" alt="" width="212px" height="61px" />
        </div>
      </div>
      <div class="about-complex-business-desc">
        <div>
          <h3 class="about-complex-title">business class hotel</h3>
          <p class="main-desc">
            The Mimino hotel features spacious and stylish double luxury rooms
            with modern amenities for a comfortable stay.
          </p>
        </div>
        <picture>
          <source srcset="./img 1x, ./img 2x" media="(min-width: 1440px)" />
          <source srcset="./img 1x, ./img 2x" media="(min-width: 768px)" />
          <source srcset="./img 1x, ./img 2x" media="(max-width: 768px)" />
          <img src="" alt="" width="335px" height="311" />
        </picture>
      </div>
    </div>
  </div>
</section>
