<section class="about-complex">
  <div class="container">
    <h2 class="visually-hidden">About a complex</h2>
    <div class="about-complex-wrap">
      <div class="about-complex-restaurant-wrap">
        <picture class="about-complex-restaurant-img">
          <source
            srcset="
              ./img/jpg/home/desktop/home-rest-complex1.jpg    1x,
              ./img/jpg/home/desktop/home-rest-complex1@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/jpg/home/tablet/home-rest-complex1.jpg    1x,
              ./img/jpg/home/tablet/home-rest-complex1@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./img/jpg/home/mobile/home-rest-complex1.jpg    1x,
              ./img/jpg/home/mobile/home-rest-complex1@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source srcset="./img 1x, ./img 2x" media="(max-width: 768px)" />
          <img
            src="./img/jpg/home/mobile/home-rest-complex1.jpg"
            alt="two chairs in room with a fireplace"
          />
        </picture>

        <picture class="about-complex-restaurant-img">
          <source
            srcset="
              ./img/jpg/home/desktop/home-rest-complex2.jpg    1x,
              ./img/jpg/home/desktop/home-rest-complex2@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              ./img/jpg/home/tablet/home-rest-complex2.jpg    1x,
              ./img/jpg/home/tablet/home-rest-complex2@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./img/jpg/home/mobile/home-rest-complex2.jpg    1x,
              ./img/jpg/home/mobile/home-rest-complex2@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />

          <img
            src="./img/jpg/home/mobile/home-rest-complex2.jpg"
            alt="a bath"
          />
        </picture>

        <div class="about-complex-restaurant-img">
          <img src="./img/jpg/home/desktop/girl.jpg" alt="3" />
        </div>
      </div>
      <div class="about-complex-restaurant-desc">
        <h3 class="about-complex-title">restaurant-hotel complex</h3>
        <p class="main-desc">
          Indulge in a taste of luxury with every bite at Hotel Mimino. From the
          freshest seafood to the most succulent steaks, every dish is crafted
          with care to ensure that you enjoy a truly memorable dining
          experience.
        </p>
        <p class="main-desc">
          Treat yourself to a taste of the good life and come dine with us
          today!
        </p>
      </div>
    </div>
    <div class="about-complex-wrap second-wrap">
      <div class="about-complex-buseiness-wrap">
        <picture class="about-complex-business-img">
          <source
            srcset="
              ./img/jpg/home/desktop/home-rest-complex4.jpg    1x,
              ./img/jpg/home/desktop/home-rest-complex4@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              ./img/jpg/home/tablet/home-rest-complex4.jpg    1x,
              ./img/jpg/home/tablet/home-rest-complex4@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./img/jpg/home/mobile/home-rest-complex4.jpg    1x,
              ./img/jpg/home/mobile/home-rest-complex4@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />

          <img
            src="./img/jpg/home/mobile/home-rest-complex4.jpg"
            alt="restaurant in modern style"
          />
        </picture>
        <div class="about-complex-business-img">
          <img src="./img/jpg/home/desktop/boy.jpg" alt="" />
        </div>
      </div>
      <div class="about-complex-business-desc">
        <div>
          <h3 class="about-complex-title">business class hotel</h3>
          <p class="main-desc">
            The Mimino hotel features spacious and stylish double luxury rooms
            with modern amenities for a comfortable stay.
          </p>
        </div>
        <picture>
          <source
            srcset="
              ./img/jpg/home/desktop/home-rest-complex3.jpg    1x,
              ./img/jpg/home/desktop/home-rest-complex3@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              ./img/jpg/home/tablet/home-rest-complex3.jpg    1x,
              ./img/jpg/home/tablet/home-rest-complex3@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./img/jpg/home/mobile/home-rest-complex3.jpg    1x,
              ./img/jpg/home/mobile/home-rest-complex3@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source srcset="./img 1x, ./img 2x" media="(max-width: 768px)" />
          <img
            src="./img/jpg/home/mobile/home-rest-complex3.jpg"
            alt="a table with two glasses and candles"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
