<section class="main-page-hero">
  <div class="main-page-hero-container">
    <h1 class="main-page-hero-title">Mimino</h1>
    <div class="hero-page-content">
      <div class="main-page-hero-buttons">
        <button
          type="button"
          class="btn btn-dark-theme js-open-modal"
          data-modal="2"
        >
          book a room
        </button>
        <button
          type="button"
          class="btn btn-dark-theme js-open-modal"
          data-modal="1"
        >
          book a table
        </button>
      </div>
      <div class="main-page-hero-list-wrap">
        <ul class="main-page-hero-list list">
          <li class="main-page-hero-list-item">
            <p class="main-page-hero-desc hero-desc">
              Whether you're in the mood for a hearty breakfast, a light lunch,
              or a romantic dinner, our menu has something for <br />everyone.
            </p>
          </li>
          <li class="main-page-hero-list-item">
            <p class="main-page-hero-desc hero-desc">
              At Hotel Mimino, we believe that great food should be available to
              everyone, no matter the time of day.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
