<section class="main-page-hero">
  <div class="main-page-hero-container">
    <div class="hero-page-background-img">
      <img src="./img/jpg/home/mobile/home-hero.jpg" alt="Mimino Hotel" />
    </div>
    <div>
      <h1 class="main-page-hero-title">Mimino</h1>
    </div>
    <div class="main-page-hero-buttons">
      <button type="button" class="btn btn-modal">book a room</button>
      <button type="button" class="hero-btn btn-modal">book a table</button>
    </div>
    <div>
      <p class="main-page-hero-desc hero-desc">
        Whether you're in the mood for a hearty breakfast, a light lunch, or a
        romantic dinner, our menu has something for everyone.
      </p>
      <p class="main-page-hero-desc hero-desc">
        At Hotel Mimino, we believe that great food should be available to
        everyone, no matter the time of day.
      </p>
    </div>
  </div>
</section>
