<!-- <section class="hotels-details">
  <div class="hotels-details-container container">
    <div class="hotels-details-desc">
      <h2 class="main-page-title">Hotel</h2>
      <p class="main-desc">
        Book your stay with us now and experience the epitome of comfort and
        luxury at our hotel. We guarantee you'll be thrilled with your decision.
      </p>
    </div>
    <picture class="">
      <source
        srcset="
          ./img/jpg/home/desktop/home-hotel-room3.jpg    1x,
          ./img/jpg/home/desktop/home-hotel-room3@2x.jpg 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ./img/jpg/home/tablet/home-hotel-room3.jpg    1x,
          ./img/jpg/home/tablet/home-hotel-room3@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />

      <source
        srcset="
          ./img/jpg/home/mobile/home-hotel-room3.jpg    1x,
          ./img/jpg/home/mobile/home-hotel-room3@2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <source srcset="./img 1x, ./img 2x" media="(max-width: 768px)" />
      <img
        src="./img/jpg/home/mobile/home-hotel-room3.jpg"
        alt="a big bed in a room"
      />
    </picture>
    <div class="hotels-details-bath">
      <picture class="">
        <source
          srcset="
            ./img/jpg/home/desktop/home-hotel-room1.jpg    1x,
            ./img/jpg/home/desktop/home-hotel-room1@2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./img/jpg/home/tablet/home-hotel-room1.jpg    1x,
            ./img/jpg/home/tablet/home-hotel-room1@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />

        <source
          srcset="
            ./img/jpg/home/mobile/home-hotel-room1.jpg    1x,
            ./img/jpg/home/mobile/home-hotel-room1@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <source srcset="./img 1x, ./img 2x" media="(max-width: 768px)" />
        <img
          src="./img/jpg/home/mobile/home-hotel-room1.jpg"
          alt="two bottles of a soap and towels on a table"
        />
      </picture>
      <picture class="">
        <source
          srcset="
            ./img/jpg/home/desktop/home-hotel-room2.jpg    1x,
            ./img/jpg/home/desktop/home-hotel-room2@2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./img/jpg/home/tablet/home-hotel-room2.jpg    1x,
            ./img/jpg/home/tablet/home-hotel-room2@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />

        <source
          srcset="
            ./img/jpg/home/mobile/home-hotel-room2.jpg    1x,
            ./img/jpg/home/mobile/home-hotel-room2@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <source srcset="./img 1x, ./img 2x" media="(max-width: 768px)" />
        <img src="./img/jpg/home/mobile/home-hotel-room2.jpg" alt="a bath" />
      </picture>
    </div>
    <div class="hotels-details-washbasins">
      <picture class="">
        <source
          srcset="
            ./img/jpg/home/desktop/home-hotel-room4.jpg    1x,
            ./img/jpg/home/desktop/home-hotel-room4@2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./img/jpg/home/tablet/home-hotel-room4.jpg    1x,
            ./img/jpg/home/tablet/home-hotel-room4@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />

        <source
          srcset="
            ./img/jpg/home/mobile/home-hotel-room4.jpg    1x,
            ./img/jpg/home/mobile/home-hotel-room4@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <source srcset="./img 1x, ./img 2x" media="(max-width: 768px)" />
        <img
          src="./img/jpg/home/table/home-hotel-room4.jpg"
          alt="two wash basins"
        />
      </picture>
      <picture class="">
        <source
          srcset="
            ./img/jpg/home/desktop/home-hotel-room5.jpg    1x,
            ./img/jpg/home/desktop/home-hotel-room5@2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./img/jpg/home/tablet/home-hotel-room5.jpg    1x,
            ./img/jpg/home/tablet/home-hotel-room5@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />

        <source
          srcset="
            ./img/jpg/home/mobile/home-hotel-room5.jpg    1x,
            ./img/jpg/home/mobile/home-hotel-room5@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <source srcset="./img 1x, ./img 2x" media="(max-width: 768px)" />
        <img
          src="./img/jpg/home/tablet/home-hotel-room5.jpg"
          alt="a tube and small box on a shelf before a mirror"
        />
      </picture>
    </div>
    <div class="hotels-details-btn">
      <button
        type="submit"
        class="btn-dark-theme btn js-open-modal"
        data-modal="2"
      >
        Book a room
      </button>
      <button type="submit" class="btn-dark-theme btn">View room</button>
    </div>
  </div>
</section> -->
