<section class="location-and-contacts">
    <div class="container location-and-contacts-container">
        <h1 class="location-title">LOCATION</h1>
        <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.85816600915!2d34.5247910156464!3d49.60042407936706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f34ac947%3A0xbb948724f7cf0b61!2z0JPQvtGC0LXQu9GM0L3Qvi3RgNC10YHRgtC-0YDQsNC90L3QuNC5INC60L7QvNC_0LvQtdC60YEgItCc0ZbQvNGW0L3QviI!5e0!3m2!1sru!2spl!4v1677415437544!5m2!1sru!2spl" 
        width="704" height="576" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="location-thumb">
            <address class="adress-location">UKRAINE, POLTAVA,
                <br>
                ST. MARSHAL BIRYUZOV, 15</address>
                <div class="location-and-contacts-nav">
                    <h2 class="location-and-contacts-text">CALL US:</h2>
                    <ul class="list">
                        <li><a href="tel:+" class="contacts-location link">(095) 555 95 33</a></li>
                        <li><a href="tel:+" class="contacts-location link">(066) 849 10 89</a></li>
                    </ul>
                </div> 
        </div> 
    </div>
</section>