<section class="page_main welcome-block">
  <div class="welcome-block__container">
    <h1 class="welcome-block__title">Welcome to the epitome of luxury and comfort</h1>
    <p class="welcome-block__subtitle">
      Our hotel rooms are elegantly designed with an eye for detail, ensuring
      that you have everything you need for a relaxing and rejuvenating stay.
    </p>
    <p class="welcome-block__text">
      Each room is equipped with the latest amenities, including plush bedding,
      high-speed Wi-Fi, flat-screen TVs, and a coffee maker to help you start
      your day right. Our spacious bathrooms feature luxurious toiletries and
      towels, so you can pamper yourself in complete privacy.
    </p>
    <div class="welcome-block__image">
  <img src="" alt="" />
    </div>
  </div>
</section>
