<section class="welcome-block-section">
  <div class="container welcome-block-container">
    <div class="wrapper welcome-wrapp">
      <h1 class="welcome-block-title">
        Welcome to the epitome of <i>luxury</i> and <i>comfort</i>
      </h1>
      <div class="welcome-block-content">
        <p class="welcome-block-subtitle main-desc">
          Our hotel rooms are elegantly designed with an eye for detail,
          ensuring that you have everything you need for a relaxing and
          rejuvenating stay.
        </p>
        <p class="welcome-block-text main-desc">
          Each room is equipped with the latest amenities, including plush
          bedding, high-speed Wi-Fi, flat-screen TVs, and a coffee maker to help
          you start your day right. Our spacious bathrooms feature luxurious
          toiletries and towels, so you can pamper yourself in complete privacy.
        </p>
      </div>
    </div>
    <div class="welcome-block-image">
      <picture>
        <source
          srcset="
            img/jpg/home/desktop/home-comfort.jpg    1x,
            img/jpg/home/desktop/home-comfort@2x.jpg 2x
          "
          media="(min-width: 1440px)"
          type="image/jpeg"
        />

        <source
          srcset="
            img/jpg/home/tablet/home-comfort.jpg    1x,
            img/jpg/home/tablet/home-comfort@2x.jpg 2x
          "
          media="(min-width: 768px)"
          type="image/jpeg"
        />

        <source
          srcset="
            img/jpg/home/mobile/home-comfort.jpg    1x,
            img/jpg/home/mobile/home-comfort@2x.jpg 2x
          "
          media="(max-width: 767px)"
          type="image/jpeg"
        />
        <img src="img/jpg/home/desktop/home-comfort.jpg" alt="home-comfort" />
      </picture>
    </div>
  </div>
</section>
