.main-page-hero {
  position: relative;
  background-color: var(--dark-theme-background-color);
  padding-top: 507px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 70.73%,
      #121212 98.51%
    ),
    url(../img/jpg/home/mobile/home-hero.jpg);
  background-repeat: no-repeat;
  background-size: 335px 439px;
  background-position: center 118px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main-page-hero {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 70.73%,
        #121212 98.51%
      ),
      url(../img/jpg/home/mobile/home-hero@2x.jpg);
  }
}

.main-page-hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-page-hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;

  font-weight: 400;
  font-size: 80px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--dark-theme-title-color);
}

.main-page-hero-buttons {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-bottom: 66px;
}

.main-page-hero-list {
  display: flex;
  flex-direction: column;
}

.main-page-hero-list-item:not(:last-child) {
  margin-bottom: 32px;
}

.main-page-hero-desc {
  color: var(--dark-theme-text-color);
}

@media screen and (min-width: 768px) {
  .main-page-hero {
    background-color: var(--dark-theme-background-color);
    padding-top: 528px;
    padding-bottom: 40px;

    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 70.73%,
        #121212 98.51%
      ),
      url(../img/jpg/home/tablet/home-hero.jpg);
    background-repeat: no-repeat;
    background-size: 542px 710px;
    background-position: center 50px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-page-hero {
      background-image: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 70.73%,
          #121212 98.51%
        ),
        url(../img/jpg/home/tablet/home-hero@2x.jpg);
    }
  }

  .main-page-hero-title {
    margin-bottom: 32px;
    font-size: 150px;
  }

  .main-page-hero-buttons {
    margin-bottom: 86px;
  }

  .main-page-hero-btn {
    line-height: 1.71;
  }

  .main-page-hero-list {
    flex-direction: row;
  }

  .main-page-hero-list-item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .main-page-hero {
    background-color: var(--dark-theme-background-color);
    padding-top: 274px;
    padding-bottom: 40px;

    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 70.73%,
        rgba(18, 18, 18, 0.8) 100%
      ),
      url(../img/jpg/home/desktop/home-hero.jpg);
    background-repeat: no-repeat;
    background-size: 542px 770px;
    background-position: right top;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-page-hero {
      background-image: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 70.73%,
          rgba(18, 18, 18, 0.8) 100%
        ),
        url(../img/jpg/home/desktop/home-hero@2x.jpg);
    }
  }

  .main-page-hero-container {
    padding-right: 94px;
  }

  .main-page-hero-title {
    margin-left: 0;
    margin-bottom: 196px;
    font-size: 180px;
  }

  .main-page-hero-buttons {
    position: absolute;
    right: 94px;
    bottom: 78px;
    margin-bottom: 0;
  }

  .main-page-hero-btn {
    padding: 9px 24px;
    font-size: 18px;
    line-height: 1.33;
  }

  .main-page-hero-list-wrap {
    max-width: 684px;
  }
}
