.restaurant-details {
  background: var(--light-theme-background-color);
}

.restaurant-details-desc {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}

.restaurant-details-desc .main-page-title {
  color: var(--light-theme-title-color);
}

.restaurant-details-desc .main-desc {
  color: var(--light-theme-title-color);
  width: 221px;
}

.restaurant-details-slider {
  position: relative;
  margin-bottom: 82px;
}

.restaurant-details-slide {
  margin-right: 32px;
  height: 201px;
}

.restaurant-details-slide img {
  height: 201px;
}

.restaurant-details-slick-prev,
.restaurant-details-slick-next {
  position: absolute;
  padding: 0;
  font-size: 0;
  width: 24px;
  height: 24px;
  bottom: -42px;
  border: none;
  background-color: transparent;
  transition: opaciti var(--time-function);
}

.restaurant-details-slick-prev {
  left: 0;
  background-image: url(../../../img/icons/angle-right.svg);
  background-size: contain;
  transform: rotate(180deg);
}

.restaurant-details-slick-next {
  left: 44px;
  background-size: contain;
  background-image: url(../../../img/icons/angle-right.svg);
}

.restaurant-details-slick-prev.slick-disabled,
.restaurant-details-slick-next.slick-disabled {
  opacity: 0.3;
}

.restaurant-details-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

@media screen and (min-width: 768px) {
  .restaurant-details-desc {
    flex-direction: row;
    align-items: center;
    gap: 32px;
    margin-bottom: 80px;
  }

  .restaurant-details-slide img {
    height: 309px;
  }

  .restaurant-details-slider {
    margin-bottom: 108px;
  }

  .restaurant-details-slide {
    height: 309px;
  }

  .restaurant-details-slick-prev,
  .restaurant-details-slick-next {
    width: 36px;
    height: 36px;
    bottom: -68px;
  }

  .restaurant-details-slick-next {
    left: 68px;
  }
}

@media screen and (min-width: 1440px) {
  .restaurant-details-container {
    position: relative;
  }

  .restaurant-details-desc {
    margin-bottom: 125px;
  }

  .restaurant-details {
    padding-bottom: 113px;
  }

  .restaurant-details-btn {
    position: absolute;
    top: 0;
    right: 30px;
    margin: 0;
  }

  .restaurant-details-slider {
    margin-bottom: 0;
  }

  .restaurant-details-slide {
    height: 309px;
  }

  .restaurant-details-slide img {
    height: 309px;
  }

  .restaurant-details-slick-prev,
  .restaurant-details-slick-next {
    bottom: -87px;
  }

  .restaurant-details-slick-prev {
    left: 668px;
  }

  .restaurant-details-slick-next {
    left: 736px;
  }
}
