.restaurant-details {
  background: var(--light-theme-background-color);
}

.restaurant-details-desc {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}

.restaurant-details-desc .main-page-title {
  color: var(--light-theme-title-color);
}

.restaurant-details-desc .main-desc {
  color: var(--light-theme-title-color);
  width: 221px;
}
.restaurant-details-slider img {
  max-width: 158px;
}

.restaurant-details-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
  gap: 12px;
}

@media screen and (min-width: 768px) {
  .restaurant-details-desc {
    flex-direction: row;
    align-items: center;
    gap: 32px;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1440px) {
  .restaurant-details-container {
    position: relative;
  }

  .restaurant-details {
    padding-bottom: 32px;
  }

  .restaurant-details-btn {
    position: absolute;
    top: 0;
    right: 15px;
    margin: 0;
  }
}
