/* .double-room-section{
padding-top: 64px;
} */

.double-seater-buttons{
display: flex;
gap: 14px;
}

.double-seater-first{
display: flex;
}

.double-wrapper{
/* display: flex;
flex-direction: column;
row-gap: 20px; */
margin-bottom: 32px;
}
/* .double-wrap{
display: flex;
column-gap: 19px;
} */

@media screen and (min-width: 768px){
.double-seater-buttons{
justify-content: flex-end;
}  
.double-wrapper{
display: flex;
flex-direction: row-reverse;
gap: 32px;
margin-bottom: 40px;
}
.double-wrap{
display: flex;
flex-direction: column;
align-items: flex-end;
justify-content: flex-end;
gap: 32px;
}
.four-seater-wrapper{
/* margin-top: 40px; */
}
}

@media screen and (min-width:1440px){

.double-room-section{
padding-top: 100px;
}

.double-seater-buttons{
margin-left: auto;
}
.double-seater-wrap{
display: flex;
align-items: start;
}
.picture-bedroom{
position: absolute;
left: 50%;
top: 0;
transform: translateX(-50%);
}
.double-wrapper{
display: flex;
height: 762px;
position: relative;
flex-direction: column;
padding-top: 151px;
margin-bottom: 50px;
}
.double-wrap{
display: flex;
flex-direction: row-reverse;
align-items: center;
justify-content: space-between;
}
}

@media screen and (max-width:767px) {
.double-wrapper{
display: flex;
flex-direction: column;
row-gap: 20px;
}
.double-wrap{
display: flex;
column-gap: 19px;
}
}