.four-seater-room-section {
  padding-top: 64px;
  padding-bottom: 64px;
}

.four-seater-title {
  font-size: 29px;
  line-height: 0.93;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--light-theme-text-color);
  margin-bottom: 32px;
}

.four-seater-desc {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--light-theme-text-color);
  margin-bottom: 28px;
}

.four-seater-buttons {
  display: flex;
  gap: 14px;
}

@media screen and (min-width: 768px) {
  .four-seater-desc {
    max-width: 475px;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.33;
  }

  .four-seater-title {
    font-size: 32px;
    line-height: 1.1;
  }
  .four-seater-buttons {
    justify-content: end;
  }
  .four-seater-room-section{
    padding-top: 80px;
    padding-bottom: 80px;
  }

  
}

@media screen and (min-width: 1440px) {
  .four-seater-title {
    margin-bottom: 40px;
    font-size: 40px;
  }
  .four-seater-wrap {
    display: flex;
  }
  .four-seater-buttons {
    margin-left: auto;
    align-items: start;
  }
   .four-seater-room-section{
    padding-top: 100px;
    padding-bottom: 100px;
   }
   
}
