<footer class="footer">
  <div class="container footer-container">
    <nav class="footer-nav">
      <a class="footer-nav-link link" href="./index.html">home</a>
      <a class="footer-nav-link link" href="./hotel.html">hotel</a>
      <a class="footer-nav-link link" href="./restaurant.html">restaurant</a>
    </nav>
    <div class="footer-logo-div">
      <a class="link" href="./index.html">
        <p class="footer-logo">mimino</p>
        <p class="footer-text">restaurant-hotel complex</p>
      </a>
    </div>
    <ul class="footer-list list">
      <li>
        <a
          href="https://www.instagram.com"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="footer-soc-icon">
            <use href="./img/icons/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.facebook.com"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="footer-soc-icon">
            <use href="./img/icons/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://twitter.com"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="footer-soc-icon">
            <use href="./img/icons/sprite.svg#twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
