<div class="modal modal-price" data-modal="3">
  <svg class="modal-cross js-modal-close">
    <use href="../img/icons/sprite.svg#btn-close"></use>
  </svg>

  <div class="modal-container">
    <h2 class="modal-title modal-price-title">
      Prices per <span class="modal-price title-italic"> room</span>
    </h2>

    <p class="modal-price-text">Double suite</p>

    <form class="modal-price-form">
      <span class="modal-price-form-inner">
        <label class="modal-lable">
          <span class="modal-choice-wrapper">
            <select class="modal-choice" name="nights" id="nights">
              <option value="1" selected>1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
            </select>
          </span>
          <span class="modal-suptitle">Number of nights</span>
        </label>

        <label class="modal-lable"
          ><span class="modal-input input-money" id="money">1000</span>
          <span class="modal-suptitle">UAH</span>
        </label>
      </span>
      <button class="btn-modal modal-btn" type="submit">
        MAKE A RESERVATION
      </button>
    </form>
  </div>
</div>

<div class="overlay js-backdrop-modal"></div>
<script type="module" src="../js/modal.js"></script>
