<section class="double-room-section">
  <div class="container">
    <ul class="four-seater-list list">
      <li class="four-seater-item"><img src="" alt="bedroom-photo" /></li>
      <li class="four-seater-item"><img src="" alt="bathroom-photo" /></li>
      <li class="four-seater-item"><img src="" alt="kitchen-photo" /></li>
    </ul>
    <div class="double-seater-wrap">
      <div class="four-seater-wrapper">
        <h2 class="four-seater-title">double luxary room</h2>
        <div class="triple-desc-wrap">
        <p class="seater-desc">
       Experience luxury in our Double Luxury Room at Mimino Hotel. This spacious room features a comfortable bed, private bathroom, flat-screen TV, and high-speed Wi-Fi. Climate control, blackout curtains, and soundproofing ensure a peaceful night's sleep.
        </p>
         <p class="seater-desc">
       Relax after a busy day at the writing desk or armchair. Book now for a convenient and comfortable stay.
        </p>
        </div>
      </div>
      <div class="double-seater-buttons">
        <!-- <button type="button" class="btn btn-light-theme">More details</button> -->
        <a href="./room.html" class="btn btn-light-theme link">More details</a>
        <button type="button" class="btn btn-light-theme" js-open-modal data-modal="3">View prices</button>
      </div>
    </div>
  </div>
</section>