<section class="double-room-section">
  <div class="container">
    <ul class="double-seater-list list">
    
      <li class="four-seater-item">
      <picture>
      <source srcset="img/jpg/hotel/desktop/hotel-double-room2.jpg 1x ,
      img/jpg/hotel/desktop/hotel-double-room2@2x.jpg 2x" media="(min-width: 1440px)"
      type="image/jpeg">

      <source srcset="img/jpg/hotel/tablet/hotel-double-room2.jpg 1x ,
      img/jpg/hotel/tablet/hotel-double-room2@2x.jpg 2x" media="(min-width: 768px)"
      type="image/jpeg">

      <source srcset="img/jpg/hotel/mobile/hotel-double-room1.jpg 1x ,
      img/jpg/hotel/mobile/hotel-double-room1@2x.jpg 2x" media="(max-width: 767px)"
      type="image/jpeg">

      <img src="img/jpg/hotel/mobile/hotel-double-room1.jpg" alt="kitchen-photo" />
      </picture>
      </li>


      <li class="four-seater-item">
      <picture>
      <source srcset="img/jpg/hotel/desktop/hotel-double-room3.jpg 1x ,
      img/jpg/hotel/desktop/hotel-double-room3@2x.jpg 2x" media="(min-width: 1440px)"
      type="image/jpeg">

      <source srcset="img/jpg/hotel/tablet/hotel-double-room1.jpg 1x ,
      img/jpg/hotel/tablet/hotel-double-room1@2x.jpg 2x" media="(min-width: 768px)"
      type="image/jpeg">

      <source srcset="img/jpg/hotel/mobile/hotel-double-room2.jpg 1x ,
      img/jpg/hotel/mobile/hotel-double-room2@2x.jpg 2x" media="(max-width: 767px)"
      type="image/jpeg">
      <img src="img/jpg/hotel/mobile/hotel-double-room2.jpg " alt="bedroom-photo" />
      </picture>
      </li>
 

      
      <li class="four-seater-item">
      <picture>
      <source srcset="img/jpg/hotel/desktop/hotel-double-room1.jpg 1x ,
      img/jpg/hotel/desktop/hotel-double-room1@2x.jpg 2x" media="(min-width: 1440px)"
      type="image/jpeg">

      <source srcset="img/jpg/hotel/tablet/hotel-double-room3.jpg 1x ,
      img/jpg/hotel/tablet/hotel-double-room3@2x.jpg 2x" media="(min-width: 768px)"
      type="image/jpeg">

      <source srcset="img/jpg/hotel/mobile/hotel-double-room3.jpg 1x ,
      img/jpg/hotel/mobile/hotel-double-room3@2x.jpg 2x" media="(max-width: 767px)"
      type="image/jpeg">

      <img src="img/jpg/hotel/mobile/hotel-double-room3.jpg" alt="bathroom-photo" />
      </picture>
    </li>
  




    </ul>
    <div class="double-seater-wrap">
      <div class="four-seater-wrapper">
        <h2 class="four-seater-title">double luxary room</h2>
        <div class="triple-desc-wrap">
        <p class="seater-desc">
       Experience luxury in our Double Luxury Room at Mimino Hotel. This spacious room features a comfortable bed, private bathroom, flat-screen TV, and high-speed Wi-Fi. Climate control, blackout curtains, and soundproofing ensure a peaceful night's sleep.
        </p>
         <p class="seater-desc">
       Relax after a busy day at the writing desk or armchair. Book now for a convenient and comfortable stay.
        </p>
        </div>
      </div>
      <div class="double-seater-buttons">
        <!-- <button type="button" class="btn btn-light-theme">More details</button> -->
        <a href="./room.html" class="btn btn-light-theme link">More details</a>
        <button type="button" class="btn btn-light-theme">View prices</button>
      </div>
    </div>
  </div>
</section>