<section class="four-seater-room-section">
  <div class="container">
    <ul class="four-seater-list list">
      <li class="four-seater-item"><img src="" alt="bedroom-photo" /></li>
      <li class="four-seater-item"><img src="" alt="bathroom-photo" /></li>
      <li class="four-seater-item"><img src="" alt="kitchen-photo" /></li>
    </ul>
    <div class="four-seater-wrap">
      <div class="four-seater-wrapper">
        <h2 class="four-seater-title">four-seater room</h2>
        <p class="four-seater-desc">
          Our 4-person room is perfect for small groups, offering comfort and
          convenience with 4 comfortable beds, ample storage, flat-screen TV,
          mini-fridge, coffee maker, desk and chair, air-conditioning, heating,
          and soundproof walls. Book now for a memorable stay.
        </p>
      </div>
      <div class="four-seater-buttons">
        <a href="./room.html" class="btn btn-light-theme link">More details</a>
        <button type="button" class="btn btn-light-theme" js-open-modal data-modal="3">View prices</button>
      </div>
    </div>
  </div>
</section>
