<section class="hero-hotel">
  <div class="container hero-hotel-container">
    <div class="wrapper hotel-block">
      <div class="hotel-wrap">
        <div class="content">
          <h1 class="hero-title">Hotel</h1>
          <div class="hero-hotel-buttons">
            <button
              type="button"
              class="btn btn-light-theme js-open-modal"
              data-modal="2"
            >
              book a room
            </button>
            <button
              type="button"
              class="btn btn-light-theme js-open-modal"
              data-modal="3"
            >
              View prices
            </button>
          </div>
        </div>

        <div class="slider-hotel">
          <div>
            <picture>
              <source
                srcset="
                  img/jpg/hotel/desktop/hotel-hero1.jpg    1x,
                  img/jpg/hotel/desktop/hotel-hero1@2x.jpg 2x
                "
                media="(min-width: 1440px)"
                type="image/jpeg"
              />

              <source
                srcset="
                  img/jpg/hotel/tablet/hotel-hero1.jpg    1x,
                  img/jpg/hotel/tablet/hotel-hero1@2x.jpg 2x
                "
                media="(min-width: 768px)"
                type="image/jpeg"
              />

              <source
                srcset="
                  img/jpg/hotel/mobile/hotel-hero1.jpg    1x,
                  img/jpg/hotel/mobile/hotel-hero1@2x.jpg 2x
                "
                media="(max-width: 767px)"
                type="image/jpeg"
              />
              <img
                src="img/jpg/hotel/desktop/hotel-hero1.jpg"
                alt="hotel-hero"
              />
            </picture>
          </div>
          <div>
            <picture>
              <source
                srcset="
                  img/jpg/hotel/desktop/hotel-hero2.jpg    1x,
                  img/jpg/hotel/desktop/hotel-hero2@2x.jpg 2x
                "
                media="(min-width: 1440px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  img/jpg/hotel/tablet/hotel-hero2.jpg    1x,
                  img/jpg/hotel/tablet/hotel-hero2@2x.jpg 2x
                "
                media="(min-width: 768px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  img/jpg/hotel/mobile/hotel-hero2.jpg    1x,
                  img/jpg/hotel/mobile/hotel-hero2@2x.jpg 2x
                "
                media="(max-width: 767px)"
                type="image/jpeg"
              />
              <img
                src="img/jpg/hotel/desktop/hotel-hero2.jpg"
                alt="hotel-hero"
              />
            </picture>
          </div>
          <div>
            <picture>
              <source
                srcset="
                  img/jpg/hotel/desktop/hotel-hero3.jpg    1x,
                  img/jpg/hotel/desktop/hotel-hero3@2x.jpg 2x
                "
                media="(min-width: 1440px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  img/jpg/hotel/tablet/hotel-hero3.jpg    1x,
                  img/jpg/hotel/tablet/hotel-hero3@2x.jpg 2x
                "
                media="(min-width: 768px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  img/jpg/hotel/mobile/hotel-hero3.jpg    1x,
                  img/jpg/hotel/mobile/hotel-hero3@2x.jpg 2x
                "
                media="(max-width: 767px)"
                type="image/jpeg"
              />
              <img
                src="img/jpg/hotel/desktop/hotel-hero3.jpg"
                alt="hotel-hero"
              />
            </picture>
          </div>
        </div>
      </div>
      <p class="hero-hotel-text">
        Whether you're in the mood for a hearty breakfast, a light lunch, or a
        romantic dinner, our menu has something for everyone.
      </p>
    </div>
  </div>
</section>
