<!-- <section class="triple-room-section">
  <div class="container">
      <div class="triple-wrapper">
      <picture>
      <source srcset="img/jpg/hotel/desktop/hotel-triple-room2.jpg 1x ,
      img/jpg/hotel/desktop/hotel-triple-room2@2x.jpg 2x" media="(min-width: 1440px)"
      type="image/jpeg">

      <source srcset="img/jpg/hotel/tablet/hotel-triple-room2.jpg 1x ,
      img/jpg/hotel/tablet/hotel-triple-room2@2x.jpg 2x" media="(min-width: 768px)"
      type="image/jpeg">

      <source srcset="img/jpg/hotel/mobile/hotel-triple-room2.jpg 1x ,
      img/jpg/hotel/mobile/hotel-triple-room2@2x.jpg 2x" media="(max-width: 767px)"
      type="image/jpeg">

      <img src="img/jpg/hotel/mobile/hotel-triple-room2.jpg" alt="bedroom-photo" class="picture-bedroom" />
      </picture>
   
      <div class="triple-wrap">
      <picture>
      <source srcset="img/jpg/hotel/desktop/hotel-triple-room3.jpg 1x ,
      img/jpg/hotel/desktop/hotel-triple-room3@2x.jpg 2x" media="(min-width: 1440px)"
      type="image/jpeg">

      <source srcset="img/jpg/hotel/tablet/hotel-triple-room3.jpg 1x ,
      img/jpg/hotel/tablet/hotel-triple-room3@2x.jpg 2x" media="(min-width: 768px)"
      type="image/jpeg">

      <source srcset="img/jpg/hotel/mobile/hotel-triple-room3.jpg 1x ,
      img/jpg/hotel/mobile/hotel-triple-room3@2x.jpg 2x" media="(max-width: 767px)"
      type="image/jpeg">
      <img src="img/jpg/hotel/mobile/hotel-triple-room3.jpg" alt="bedroom-photo"  />
      </picture>
     
      <picture>
      <source srcset="img/jpg/hotel/desktop/hotel-triple-room1.jpg 1x ,
      img/jpg/hotel/desktop/hotel-triple-room1@2x.jpg 2x" media="(min-width: 1440px)"
      type="image/jpeg">

      <source srcset="img/jpg/hotel/tablet/hotel-triple-room1.jpg 1x ,
      img/jpg/hotel/tablet/hotel-triple-room1@2x.jpg 2x" media="(min-width: 768px)"
      type="image/jpeg">

      <source srcset="img/jpg/hotel/mobile/hotel-triple-room1.jpg 1x ,
      img/jpg/hotel/mobile/hotel-triple-room1@2x.jpg 2x" media="(max-width: 767px)"
      type="image/jpeg">
      <img src="img/jpg/hotel/mobile/hotel-triple-room1.jpg" alt="kitchen-photo" />
      </picture>
      </div>
      </div>
   
    <div class="four-seater-wrap seater-wrapper">
      <div class="four-seater-wrapper">
        <h2 class="four-seater-title">Triple Room</h2>
        <div class="triple-desc-wrap">
        <p class="seater-desc">
          Escape to our spacious Triple Room, perfect for families or groups. Enjoy comfort with three beds, seating area, stunning views, flat-screen TVs, Wi-Fi, and mini-fridge.
        </p>
         <p class="seater-desc">
         Rejuvenate in the en-suite bathroom with plush towels and toiletries. Book now for a memorable stay.
        </p>
        </div>
      </div>
      <div class="seater-buttons">
      <a href="./room.html" class="btn btn-light-theme link">More details</a>
      <button type="button" class="btn btn-light-theme js-open-modal" data-modal="3">View prices</button>
      </div>
    </div>
  </div>
</section>
 -->
