
<section class="section-amenities">
  <div class="amenities-container container">
    <div class="amenities-content">
     <div class="colum">
       <h2 class="amenities-title">General Amenities &<br />Facilities:</h2>
      <ul class="amenities-list-general">
        <li class="amenities-list-item">24-hour front desk service</li>
        <li class="amenities-list-item">Daily housekeeping</li>
        <li class="amenities-list-item">Free Wi-Fi throughout the hotel</li>
        <li class="amenities-list-item">Elevator access</li>
        <li class="amenities-list-item">Luggage storage</li>
        <li class="amenities-list-item">Non-smoking rooms available</li>
        <li class="amenities-list-item">Meeting rooms for business and events</li>
        <li class="amenities-list-item">On-site parking (surcharge)</li>
        <li class="amenities-list-item">Concierge services</li>
      </ul>
     </div>
     <div class="colum">
      <h2 class="amenities-title">Bathroom:</h2>
      <ul class="amenities-list-general">
        <li class="amenities-list-item">Private bathroom with shower</li>
        <li class="amenities-list-item">Complimentary toiletries</li>
        <li class="amenities-list-item">Hair dryer</li>
        <li class="amenities-list-item">Fresh towels daily</li>
        <li class="amenities-list-item">Deluxe bathrobes (in some room categories)</li>
      </ul>
      </div>
       <div class="colum">
      <h2 class="amenities-title">Bedroom:</h2>
      <ul class="amenities-list-general">
        <li class="amenities-list-item">Comfortable beds with high-quality linens</li>
        <li class="amenities-list-item">Blackout curtains</li>
        <li class="amenities-list-item">
          Climate control (air conditioning and <br />
          heating)
        </li>
        <li class="amenities-list-item">Safe for valuables</li>
        <li class="amenities-list-item">Writing desk and chair</li>
        <li class="amenities-list-item">Flat-screen TV with cable channels</li>
      </ul>
      </div>
      <div class="colum">
      <h2 class="amenities-title">Kitchen:</h2>
      <ul class="amenities-list-general">
        <li class="amenities-list-item">
          In-room kitchenette (in some room<br />categories)
        </li>
        <li class="amenities-list-item">Refrigerator</li>
        <li class="amenities-list-item">Microwave</li>
        <li class="amenities-list-item">Electric kettle</li>
        <li class="amenities-list-item">Cooking utensils and cutlery</li>
        <li class="amenities-list-item">Dining table and chairs</li>
      </ul>
      </div>
      <div class="colum">
      <h2 class="amenities-title">Media:</h2>
      <ul class="amenities-list-general">
        <li class="amenities-list-item">Flat-screen TV with cable channels</li>
        <li class="amenities-list-item">High-speed Wi-Fi</li>
        <li class="amenities-list-item">iPod docking station</li>
        <li class="amenities-list-item">Speaker system</li>
        <li class="amenities-list-item">
          Electrical outlets for charging devices.
        </li>
      </ul>
      </div>
    </div>

    <div class="amenities-image-wrapper">
      <picture class="amenities-big-image">
        <source
          srcset="
            img/jpg/room/desktop/room-bath2.jpg    1x,
            img/jpg/room/desktop/room-bath2@2x.jpg 2x
          "
          media="(min-width: 1440px)"
          type="image/jpeg"
        />

        <source
          srcset="
            img/jpg/room/tablet/room-bath2.jpg    1x,
            img/jpg/room/tablet/room-bath2@2x.jpg 2x
          "
          media="(min-width: 768px)"
          type="image/jpeg"
        />

        <source
          srcset="
            img/jpg/room/mobile/room-bath2.jpg    1x,
            img/jpg/room/mobile/room-bath2@2x.jpg 2x
          "
          media="(max-width: 767px)"
          type="image/jpeg"
        />
        <img
          src="img/jpg/room/desktop/room-bath2.jpg"
          alt="room-bath-cosmetic"
        />
      </picture>

      <picture class="amenities-small-image">
        <source
          srcset="
            img/jpg/room/desktop/room-bath1.jpg    1x,
            img/jpg/room/desktop/room-bath1@2x.jpg 2x
          "
          media="(min-width: 1440px)"
          type="image/jpeg"
        />

        <source
          srcset="
            img/jpg/room/tablet/room-bath1.jpg    1x,
            img/jpg/room/tablet/room-bath1@2x.jpg 2x
          "
          media="(min-width: 768px)"
          type="image/jpeg"
        />


<source
          srcset="
            img/jpg/room/mobile/room-bath1.jpg    1x,
            img/jpg/room/mobile/room-bath1@2x.jpg 2x
          "
          media="(max-width: 767px)"
          type="image/jpeg"
        />
        <img
          src="img/jpg/room/desktop/room-bath1.jpg"
          alt="room-bath-cosmetic"
        />
      </picture>
    </div>

    <div class="amenities-button">
      <button type="button" class="btn-book btn-dark-theme">Book a room</button>
    </div>
  </div>
</section>
