<section class="room-page-hero-section">
  <div class="hero-container div-hero-room">
    <div class="div-desctop">
      <div class="div-title-btn">
        <h1 class="title-room-hero">
          Double <span class="span-fint"> luxury</span> room
        </h1>
        <button type="button" class="btn btn-light-theme">VIEW PRICES</button>
      </div>
      <div class="responsive slick-room">
        <div class="slick-card">
          <picture>
            <source
              srcset="
                ./img/jpg/room/desktop/room-hero1.jpg    1x,
                ./img/jpg/room/desktop/room-hero1@2x.jpg 2x
              "
              media="(min-width: 1440px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/jpg/room/tablet/room-hero1.jpg    1x,
                ./img/jpg/room/tablet/room-hero1@2x.jpg 2x
              "
              media="(min-width: 767px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/jpg/room/mobile/room-hero1.jpg    1x,
                ./img/jpg/room/mobile/room-hero1@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img src="./img/jpg/room/desktop/room-hero1.jpg" alt="bedroom" />
          </picture>
        </div>
        <div class="slick-card">
          <picture>
            <source
              srcset="
                ./img/jpg/room/desktop/room-hero2.jpg    1x,
                ./img/jpg/room/desktop/room-hero2@2x.jpg 2x
              "
              media="(min-width: 1440px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/jpg/room/tablet/room-hero2.jpg    1x,
                ./img/jpg/room/tablet/room-hero2@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/jpg/room/mobile/room-hero2.jpg    1x,
                ./img/jpg/room/mobile/room-hero2@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img src="./img/jpg/room/desktop/room-hero2.jpg" alt="kitchen" />
          </picture>
        </div>
      </div>
    </div>
    <div class="div-text">
      <p class="text-room-hero">
        The Mimino hotel features spacious and stylish double luxury rooms with
        modern amenities for a comfortable stay.
      </p>
    </div>
  </div>
</section>
