<section class="room-page-hero">
  <div class="hero-container">
    <div class="room-page-hero-desktop-wrapper">
      <div class="room-page-hero-wrapper">
        <h1 class="room-page-hero-title">
          Double <br />
          <i>luxury</i> room
        </h1>
        <button
          type="button"
          class="btn btn-light-theme js-open-modal"
          data-modal="3"
        >
          VIEW PRICES
        </button>
      </div>
      <div class="responsive room-page-hero-slider">
        <div>
          <picture>
            <source
              srcset="
                ./img/jpg/room/desktop/room-hero1.jpg    1x,
                ./img/jpg/room/desktop/room-hero1@2x.jpg 2x
              "
              media="(min-width: 1440px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/jpg/room/tablet/room-hero1.jpg    1x,
                ./img/jpg/room/tablet/room-hero1@2x.jpg 2x
              "
              media="(min-width: 767px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/jpg/room/mobile/room-hero1.jpg    1x,
                ./img/jpg/room/mobile/room-hero1@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img src="./img/jpg/room/desktop/room-hero1.jpg" alt="bedroom" />
          </picture>
        </div>
        <div>
          <picture>
            <source
              srcset="
                ./img/jpg/room/desktop/room-hero2.jpg    1x,
                ./img/jpg/room/desktop/room-hero2@2x.jpg 2x
              "
              media="(min-width: 1440px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/jpg/room/tablet/room-hero2.jpg    1x,
                ./img/jpg/room/tablet/room-hero2@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/jpg/room/mobile/room-hero2.jpg    1x,
                ./img/jpg/room/mobile/room-hero2@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img src="./img/jpg/room/desktop/room-hero2.jpg" alt="kitchen" />
          </picture>
        </div>
        <div>
          <picture>
            <source
              srcset="
                ./img/jpg/room/desktop/room-hero3.jpg    1x,
                ./img/jpg/room/desktop/room-hero3@2x.jpg 2x
              "
              media="(min-width: 1440px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/jpg/room/tablet/room-hero3.jpg    1x,
                ./img/jpg/room/tablet/room-hero3@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/jpg/room/mobile/room-hero3.jpg    1x,
                ./img/jpg/room/mobile/room-hero3@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img src="./img/jpg/room/desktop/room-hero3.jpg" alt="kitchen" />
          </picture>
        </div>
        <div>
          <picture>
            <source
              srcset="
                ./img/jpg/room/desktop/room-hero4.jpg    1x,
                ./img/jpg/room/desktop/room-hero4@2x.jpg 2x
              "
              media="(min-width: 1440px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/jpg/room/tablet/room-hero4.jpg    1x,
                ./img/jpg/room/tablet/room-hero4@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/jpg/room/mobile/room-hero4.jpg    1x,
                ./img/jpg/room/mobile/room-hero4@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img src="./img/jpg/room/desktop/room-hero4.jpg" alt="kitchen" />
          </picture>
        </div>
        <div>
          <picture>
            <source
              srcset="
                ./img/jpg/room/desktop/room-hero5.jpg    1x,
                ./img/jpg/room/desktop/room-hero5@2x.jpg 2x
              "
              media="(min-width: 1440px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/jpg/room/tablet/room-hero5.jpg    1x,
                ./img/jpg/room/tablet/room-hero5@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/jpg/room/mobile/room-hero5.jpg    1x,
                ./img/jpg/room/mobile/room-hero5@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img src="./img/jpg/room/desktop/room-hero5.jpg" alt="kitchen" />
          </picture>
        </div>
        <div>
          <picture>
            <source
              srcset="
                ./img/jpg/room/desktop/room-hero6.jpg    1x,
                ./img/jpg/room/desktop/room-hero6@2x.jpg 2x
              "
              media="(min-width: 1440px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/jpg/room/tablet/room-hero6.jpg    1x,
                ./img/jpg/room/tablet/room-hero6@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/jpg/room/mobile/room-hero6.jpg    1x,
                ./img/jpg/room/mobile/room-hero6@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img src="./img/jpg/room/desktop/room-hero6.jpg" alt="kitchen" />
          </picture>
        </div>
      </div>
    </div>

    <p class="room-page-hero-desc hero-desc">
      The Mimino hotel features spacious and stylish double luxury rooms with
      modern amenities for a comfortable stay.
    </p>
  </div>
</section>
