<section class="room-page-hero-section">
  <div class="hero-container div-hero-room">
    <div class="div-desctop">
      <div class="div-title-btn">
        <h1 class="title-room-hero">
          Double <span class="span-fint"> luxury</span> room
        </h1>
        <button class="btn btn-light-theme">VIEW PRICES</button>
      </div>
      <div class="responsive slick-room">
        <div class="slick-card"></div>
        <div class="slick-card"></div>
        <div class="slick-card"></div>
        <div class="slick-card"></div>
        <div class="slick-card"></div>
        <div class="slick-card"></div>
      </div>
    </div>
    <div class="div-text">
      <p class="text-room-hero">
        The Mimino hotel features spacious and stylish double luxury rooms with
        modern amenities for a comfortable stay.
      </p>
    </div>
  </div>
</section>
