.section-amenities {
  padding-top: 40px;
  padding-bottom: 64px;
  background-color: var(--dark-theme-background-color);
  color: var(--dark-theme-title-color);
}

.column-menu-amenities:not(:last-child) {
  margin-bottom: 40px;
}
.amenities-title {
  margin-bottom: 28px;
}

.amenities-list-general {
  margin: 0;
}

.amenities-content {
  margin-bottom: 64px;
}

.amenities-list-item {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  margin-left: -20px;
}

.amenities-image-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 32px;
}

.amenities-big-image {
  margin-left: auto;
}

.amenities-small-image {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 144px;
}

.amenities-button {
  text-align: center;
}

.btn-book {
  padding: 8px 40px;

  font-family: inherit;
  font-size: 14px;
  line-height: 1.29;

  letter-spacing: -0.02em;
  text-align: center;
  text-transform: uppercase;

  border-width: 0.8px;
  border-style: solid;

  border-radius: 32px;
  background: transparent;
}

@media screen and (min-width: 768px) {
  .section-amenities {
    padding-bottom: 80px;
  }

  .amenities-container {
    position: relative;
  }

  .amenities-content {
    margin-bottom: 112px;
  }

  .amenities-image-wrapper {
    margin-bottom: 0;
  }

  .amenities-small-image {
    top: 157px;
  }

  .amenities-button {
    position: absolute;
    bottom: 114px;
  }
  .amenities-title {
    margin-bottom: 40px;
    width: 100%;
  }
  .amenities-list-item {
    font-size: 18px;
    line-height: 1.33;
  }

  .btn-book {
    padding: 8px 24px;
  }
}

@media screen and (min-width: 1440px) {
  .section-amenities {
    padding-top: 94px;
    padding-bottom: 100px;
  }

  .column-menu-amenities:not(:last-child) {
    margin-bottom: 0px;
  }

  .amenities-small-image {
    left: 528px;
    top: 208px;
  }

  .amenities-button {
    bottom: 135px;
    left: 543px;
  }

  .amenities-content {
    display: flex;
    flex-wrap: wrap;
    row-gap: 100px;
    margin-bottom: 0;
  }
  .column-menu-amenities {
    width: 50%;
  }
  .column-menu-amenities:last-child {
    margin-bottom: -120px;
  }
}
